:root {
  --dark-gray: #3D3939;
  --medium-gray: #8F8585;
  --light-gray: #CFCFCF;
}

@font-face {
  font-family: 'Avenir';
  src: url("./assets/Avenir-Book.woff2") format("woff2"),
       url("./assets/Avenir-Book.woff") format("woff");
}

h1, h2, h3 {
  font-family: 'Inconsolata', monospace;
  color: var(--dark-gray);
}

h1 {
  font-size: 3.25em;
  font-weight: 400;
}

h2 {
  font-size: 1.5em;
  margin: 17px 0px 1px 0px;
}

h3 {
  font-size: 0.875em;
  margin: 1.8em 0em 0.25em 0em;
  text-transform: uppercase;
}

p {
  font-family: 'Avenir', sans-serif;
  margin-top: 0px;
  font-size: 1.06em;
  color: var(--medium-gray);
}

main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0px 24px;
}

section {
  display: grid;
  grid-template-columns: 1.3fr 1fr 1.2fr 1fr;
  padding: 1em 0em;
}

section:not(:last-child) {
  border-bottom: 1px solid var(--light-gray);
}

.mask {
  width: 80px;
	height: 80px;
  border-radius: 100%;
}

.profile {
  display: flex;
  padding-right: 32px;
}

.profile div {
  padding-left: 24px;
}